[submodule "external/libdxfrw"]
	path = external/libdxfrw
	url = https://github.com/codelibs/libdxfrw.git
[submodule "external/libredwg"]
	path = external/libredwg
	url = https://github.com/LibreDWG/libredwg.git
[submodule "CCCoreLib"]
	path = CCCoreLib
	url = https://github.com/CloudCompare/CCCoreLib.git
